.container-fluid{
    width: 100%;
}
#input{
    height: 50vh !important;
    resize: none;
}

#output{
    height: 38vh !important;
    resize: none;
}
.hover:hover{
    background: rgba(24, 74, 212, 0.144);
}
span{
    font-size: 15px;
}

.scroll{
  height: 50vh;
  overflow: auto;
}

.scroll-output{
    height: 38vh !important;
    overflow: auto !important;
  }

span,ul>li>i{
    font-size: 15px !important;
}